<ul>
    <li> <a class="" href="index.html"> <div class="nav-icon nav-icon-home"></div> Inicio </a></li>
    <li> <a class="" href="__proyectos.html"> <div class="nav-icon nav-icon-portfolio"></div> Proyectos </a></li>
    <li> <a class="" href="__experiencias.html"> <div class="nav-icon nav-icon-education"></div> Experiencias </a></li>
    <li> <a class="" href="__mapas.html"> <div class="nav-icon nav-icon-map"></div> Mapa </a></li>
    <!--<li> <a class="" href="__cuentanos.html"> <div class="nav-icon nav-icon-aboutus"></div> Cuéntanos </a></li>
    <li> <a class="" href="__oferta.html"> <div class="nav-icon nav-icon-blog"></div> Oferta Institucional </a></li>-->
    <li> <a class="" href="javascript:window.open(encodeURI('http://huellasdepaztw.appspot.com/twitterIOS.html'), '_blank', 'location=yes')"> <div class="nav-icon nav-icon-enterate"></div> Entérate </a></li>
    <li> <a class="" href="__acerca.html"> <div class="nav-icon nav-icon-acerca "></div> Acerca de </a></li>
</ul>

<div class="clearfix"></div>
<a class="sms" href="sms:85954?body=Mensaje enviado desde Huellas de Paz. " >Contáctanos. ¡Es Gratis!</a>