<!doctype html>
<html lang="es" ng-app="incluapp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Proyectos</title>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ale.css" type="text/css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300'
        rel='stylesheet' type='text/css'>
    
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/transit.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>

    <!-- GALLERY START -->
    <script type="text/javascript" src="lib/klass.min.js"></script>
    <script type="text/javascript" src="lib/code.photoswipe-3.0.5.min.js"></script>
    <script type="text/javascript" src="js/gallery.js"></script>

    <!-- NAVIGATION START -->
    <script src="js/navigation/modernizr.custom.js"></script>

    <!-- COUNTDOWN START -->
    <script type="text/javascript" src="js/jquery.countdown.js"></script>

    <!-- JQUERY PLUGINS -->
    <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
    
    <!-- SLIDER START -->
    <script src="js/responsiveslides.min.js"></script>
    <script type="text/javascript">        $(function () { $(".rslides").responsiveSlides(); }); </script>

    <!-- ANGULAR -->
    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/angular-route.min.js"></script>
    <script src="js/libs/angular-sanitize.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/app_main.js"></script>
    <script src="cordova.js"></script>
</head>
<body ng-controller="ProyectosCtrl">
<div ng-include="'templates/__nointernet.html'"></div>
    <div id="cargando">
        <div id="cargandostatus">
            <p class="center-text">
                 Espere un momento por favor... <em id="cargando-texto">consultando los proyectos</em>
            </p>
        </div>
    </div>

    <div id="st-container" class="st-container">
            <nav class="st-menu st-effect-9" id="menu-9">
        <div class="logo"><img src="img/logo_pies_txt_oscuro.png" title="Huellas de Paz logo"></div> 
        <div ng-include="'templates/__navegacion.html'"></div>
    </nav>
        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">
                    <div id="page-content">
                        <div id="page-inside">
                            <div id="header-content">
                                <div id="header-content-left" class="clearfix">
                                    <div id="navigation_content">
                                        <div id="st-trigger-effects" class="column">
                                            <button data-effect="st-effect-9" id="i-nav" title="Menú">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="header-content-mid" class="clearfix">
                                    <div class="logo">
                                        <img src="img/logo_pies_txt_oscuro.png">
                                    </div>
                                </div>
                                <div id="header-info">
                                    <h2>
                                        PROYECTOS: CASOS DE ÉXITO
                                    </h2>
                                    <h2 ng-show="filterDepto">
                                        DEPARTAMENTO: {{deptoName}}
                                    </h2>
                                </div>
                            </div>

                            <div ng-hide="filterDepto" class="filter">
                                <select ng-model="filtro_region" ng-options="depto for depto in deptos">
                                    <option value="">-- Todas las regiones --</option>
                                </select>
                                <select ng-model="filtro_tematica" ng-options="tem for tem in tematicas">
                                    <option value="">-- Todas las temáticas --</option>
                                </select>
                            </div>


                            <div class="blog-post clearfix" ng-repeat="proyecto in proyectos|orderBy : proyecto.likes | filter:filtro_region:true | filter:filtro_tematica:true">

                                <div class="imgPry">
                                    <img ng-hide="proyecto.Imagen.trim()==''" ng-src="{{proyecto.Imagen}}" alt="{{proyecto.Titulo}}" />
                                    <img ng-show="proyecto.Imagen.trim()==''" src="img/nodisponible.jpg" alt="{{proyecto.Titulo}}" />
                                    <div class="heart" ng-click="shareTwitter(proyecto)"  title="Compartir en Twitter">
                                        <div class="heart-content">
                                            <img src="img/heart.png">
                                            <span>{{proyecto.Likes}}</span>
                                        </div>
                                    </div>
                                </div>
                                <h1 ng-class="{sinimagen: proyecto.Imagen.trim()==''}">
                                    {{proyecto.Titulo}}
                                </h1>
                                <p>{{proyecto.Descripcion}}</p>
                                <br><br>
                                <div class="info_post">
                                    <div class="posted-by">
                                        {{proyecto.Ciudad.MyCiudad}}
                                    </div>
                                    
                                    <div class="posted-comment">
                                        <a class="conocerMas" ng-click="projectClick(proyecto)">Conocer más </a>
                                    </div>
                                </div>
                            </div>

                            <p class="blog-post empty" ng-hide="proyectos.length > 0">
                                Sin proyectos
                            </p>

                            <div ng-click="loadMore()" ng-hide="lastPage || loading || filterDepto" class="blog-post load-more clearfix">
                                Cargar más
                            </div>
                            <div ng-show="loading" class="blog-post load-more clearfix">
                                Cargando ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr">
            </div>
           <div ng-include="'templates/__footer.html'"></div>
        </div>
        <script src="js/navigation/classie.js"></script>
        <script src="js/navigation/sidebarEffects.js"></script>
</body>
</html>
