<div id="foo" class="clearfix">
    <div id="foo_option">
        
        <div class="foo-logo">
            <img class="dps" src="img/dps_presidencia.jpg" alt="Imagen Departamento para la Prosperidad Social e imagen de Todos Por Un Nuevo País">
        </div>
        <div id="social">
            <a href="javascript: openLinkInBrowser('https://www.facebook.com/Prosperidad.Social')"> <img src="img/social/facebook.png"></a>
            <a href="javascript: openLinkInBrowser('https://twitter.com/dpscolombia')"> <img src="img/social/twitter.png"> </a>
            <a href="javascript: openLinkInBrowser('https://www.youtube.com/channel/UCn8TWTrGkYH4SqGzmmGjbeQ')"> <img src="img/social/youtube.png"> </a>
        </div>
    </div>
</div>